* {/*  Varies values to fit within given size */
  box-sizing: border-box;
}

body {
  background-color: #E61D23;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.6em;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 26px;
}

p {
  margin: 0;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2em;
}

ul {
  list-style-type: none;
}



/*-------------------------Header-------------------------*/
.page-header { /* endless background for the header */
  width: 100%;
  min-width: 300px;
  height: 120px;
  background-color: #8d0005;
  border-bottom: 3px solid black;
  transition: ease all .4s;
}

.page-header-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  height: 120px;
  transition: ease all .4s;
}

.header-powerbttn {
  background: url("../img/pokedex-blue-light.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  transition: ease-in-out all .3s;
}

.header-powerbttn:hover {
  background: url("../img/pokedex-blue-light-hover.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  transition: ease-in-out all .2s;
}

.page-header-box li {
  display: inline-block;
  list-style-type: none;
  padding: 0 1em;
}
/*-------------------------Navigation link images-------------------------*/
.nav-bttn-home {
  background-image: url(../img/greenbttn.png);
  background-size: 100% 100%;
  width: 132px;
  height: 41px;
  transition: ease-in-out all .2s;
}

.nav-bttn-home:hover {
  background-image: url(../img/greenbttn-hover.png);
  background-size: 100% 100%;
  width: 132px;
  height: 41px;
  transition: ease-in-out all .2s;
}

.nav-bttn-about {
  background-image: url(../img/aboutbttn.png);
  background-size: 100% 100%;
  width: 132px;
  height: 41px;
  transition: ease-in-out all .2s;
}

.nav-bttn-about:hover {
  background-image: url(../img/aboutbttn-hover.png);
  background-size: 100% 100%;
  width: 132px;
  height: 41px;
  transition: ease-in-out all .2s;
}

/*-------------------------Home Page-------------------------*/

.pokedex-window {
  position: relative;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  height: 500px;
  background-color: #ececec;
  margin: 50px auto;
  padding: 15px 15px 15px;
  border-radius: 5%;
  border: 3px solid black;
  transition: all ease-in-out 0.4s;
}

.pokedex-window-scrollbox {
  overflow: auto;
  max-width: 800px;
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0;
  background-color: #ececec;
  padding: 0 15px 0px 15px;
}

.pokedex-window-scrollbox::-webkit-scrollbar{
  width: 11px;
}
 
.pokedex-window-scrollbox::-webkit-scrollbar-track {
 background-color: #ececec;
}
 
.pokedex-window-scrollbox::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 5px;
}

.pokemon-list {
  padding: 0;
  margin: 0;
}

.pokemon-list-style{
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
  line-height: 60px;
  color: rgb(0, 0, 0);
  background-color:#c2bfdf;
  border: 3px solid #ececec;
  width: 100%;
  margin: 3px 0;
  transition: all ease-in-out 0.3s;
}

.pokemon-list-style:hover{
  font-size: 1.7em;
  font-weight: 600;
  line-height: 60px;
  border: 3px solid rgb(45, 97, 171);
  background-color: #F7C507;
 
}

/*removes the black outline box from the created buttons */
.pokemon-list-style:focus {
  outline: none;
  transition: none;
}

/*-------------------------About Page-------------------------*/
.about-window { /* Box for content on the about page */
  text-align: center;
  width: 100%;
  min-width: 300px;
  height: 100%;
  max-height: 85vh;
  margin: 0 auto;
  border-radius: 5%;
  padding: 15px;
  background-color: #d2d0e6;
}

.about-logo-box {
  position: absolute;
  margin-top: 0px;
  margin:  auto;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}

.logos {
  width: 50px;
  height: auto;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.logos:hover {
  transform: scale(1.3);
}

/*-------------------------Mobile Support-------------------------*/

@media all and (max-width:720px) {
  .pokedex-window {
    min-height: 200px;
    height: 80vh;
    margin: 0.5em auto 0;
    padding: 15px;
  }
  
  .nav-bttn-home {
    width: 120px;
    height: 37px;
  }
  
  .nav-bttn-home:hover {
    width: 120px;
    height: 37px;
  }
  
  .nav-bttn-about {
    width: 120px;
    height: 37px;
  }
  
  .nav-bttn-about:hover {
    width: 120px;
    height: 37px;
  }
}


@media all and (max-width:420px) {

  .pokedex-window {
    min-height: 200px;
    height: 80vh;
    margin: 0.5em auto 0;
    padding: 10px;
  }
  
  .pokemon-list-style{
    font-size: 1.4em;
    line-height: 45px;
    margin: 2px 0;
  }

  .pokemon-list-style:hover{
    font-size: 1.4em;
    line-height: 45px;
  }

  .page-header { /* endless background for the header */
    min-width: 300px;
    height: 90px;
  }

  .page-header-box{
    height: 90px;
  }

  .page-header-box li {
    padding: 0;
  }

  .header-powerbttn {
    margin: 0 0 0 15px;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    border: 1px solid black;
  }
  
  .header-powerbttn:hover {
    margin-left: 15px;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
  }

  .nav-bttn-home {
    width: 95px;
    height: 30px;
  }
  
  .nav-bttn-home:hover {
    width: 95px;
    height: 30px;
  }
  
  .nav-bttn-about {
    width: 95px;
    height: 30px;
  }
  
  .nav-bttn-about:hover {
    width: 95px;
    height: 30px;
  }

  .logos {
    width: 40px;
  }
}